@import '../variables/variables';


.Single-product {
    display: flex;
    justify-content: space-around;
    margin: 4rem;
    gap: 2rem;
   align-self: center;
   align-content: center;
    align-items: center;
}

.Single-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Single-button {
    padding: 0.5rem 0.275rem;
    outline: none;
    background-color: $body-color;
    color: white;
    border: none;
    border-radius: 0.375rem;
    margin: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
//    flex-direction: 
    &:hover {
        background-color:transparent;
        color: $body-color;
        border: 1px solid $body-color;
    }
}


.Single-dec {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    
    h6 {
        font-size: 2rem;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
        text-align: center;
    }
}
.Single-photo {
    border-radius:0.35rem;
    object-fit: cover;
    width: 400px;
    height: 400px;

}
// .Single-title {
//     // margin: 2rem;
// }

.Single-icons {
    display: flex;
    // margin: 2rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    gap: 3rem;
}
.Single-icons {
    button {
    font-size: 2.5rem;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
     color: $body-color;
    }
    }
}

.Single-quantity {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    gap:0.8rem;
    cursor: pointer;


    p {
        color: $body-color;
        
    }
}

@media screen and (max-width:768px) {
    .Single-product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        border-radius: 1rem;
    }

    .Single-icons {
        
        button {
            font-size: 1.6rem;
        }
    }

    .Single-photo {
        border-radius:0.35rem;
        object-fit: cover;
        width: 300px;
        height: 300px;

    }

    .Single-quantity {
        font-size: 1.6rem;
        display: flex;
    }

 .Single-dec {
  h6 {
    font-size: 1.4rem;

  }
  p {
    font-size: 1rem;
  }
 }
}