
@import '../variables/variables';
@import '../variables/functionss';

.signup{
    background: url('https://images.unsplash.com/photo-1594007654729-407eedc4be65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGl6emF8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: $font-stack;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    @include flexCenter;

    h3 {
        font-size: 1.2rem;
        margin:10px;
        
    }
   
}

.container {
@include flexCenter();
filter:drop-shadow(10px 10px 20px black);
background-color: $background-color;
height: 450px;
width: 400px;
 margin: 50px;
align-items: center;
justify-content: center;

title{

    p {
        text-align: center;
        font-weight: 1000;
        font-style: italic;
    }
}

 }

 .inputs {
     //margin: 10px;
     display: flex;
     flex-direction: column;
     row-gap: 10px;

     .input-type{
        &:focus {
            border: 2px solid #5fa4b1;
        }
     }
     input {
         padding: 10px;
         border: 2px solid gray;
         outline:none;
         border-radius: 20px;
         min-width: 35ch;
     }
     
 }
.button {
    display: flex;
    align-items: center;
    padding: 10px 0;
    
    
    button {
     flex: 1;
     padding: 10px 10px; 
     border-radius: 20px;
     color: white;
     background-color: darkred;
     border: 1px solid darkred;
    }
}


.error_msg,
.success_msg {
	width: 300px;
	padding: 15px;
	margin: 5px 0;
	font-size: 10px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.success_msg {
	background-color: #5cdd5c;
}

span {
    font-size: 1.2rem;
}

// .user input {
//     background-image: url('https://cdn-icons-png.flaticon.com/512/1077/1077114.png');
//     display: inline-block;
//     width: 123px;
//     height: 21px;
//     background-repeat: no-repeat;
//     background-position: 96px 0;
//     vertical-align: middle;
// }


@media screen and (max-width: 768px) {
  .signup{
      h3{
          font-size: 1.3rem;
          text-align: center;
        
         
      }
  }
   span {
    font-size: 1.0rem;
}

.container {
    height: 430px;
    width: 350px; 
    align-self: center;
    justify-content: center;
}


 }

 .asking {
    margin-bottom: 2rem;
 }